flexiblepower.efi.xml/src/flexiblepower/efi/xml/efi.xsd

<?xml version="1.1" encoding="UTF-8"?>
<schema targetNamespace="http://www.flexiblepower.org/efi" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.flexiblepower.org/efi">

    <complexType name="EfiMessage">
    	<sequence>
    		<element name="efiMessageId" type="ID" maxOccurs="1" minOccurs="1"></element>
    		<element name="deviceId" type="ID" maxOccurs="1" minOccurs="1"></element>
    		<element name="timestamp" type="dateTime" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="ControlSpaceRegistration">
    	<complexContent>
    		<extension base="tns:EfiMessage">
    			<sequence>
    				<element name="allocationDelay" type="duration" maxOccurs="1" minOccurs="1"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="ControlSpaceUpdate">
    	<complexContent>
    		<extension base="tns:EfiMessage">
    			<sequence>
    				<element name="validFrom" type="dateTime"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="Allocation">
    	<complexContent>
    		<extension base="tns:EfiMessage">
    			<sequence>
    				<element name="controlSpaceUpdateId"
    					type="ID">
    				</element>
    				<element name="isEmergencyAllocation" type="boolean"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="AllocationStatusUpdate">
    	<complexContent>
    		<extension base="tns:EfiMessage">
    			<sequence>
    				<element name="allocationId" type="ID"></element>
                    <element name="status" type="tns:AllocationStatus"></element>
                    <element name="additionalInfo" type="string"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <simpleType name="AllocationStatus">
    	<restriction base="string">
    		<enumeration value="ACCEPTED"></enumeration>
    		<enumeration value="REJECTED"></enumeration>
    		<enumeration value="PROCESSING"></enumeration>
    		<enumeration value="STARTED"></enumeration>
    		<enumeration value="FINISHED"></enumeration>
    	</restriction>
    </simpleType>
    
     <simpleType name="CommodityEnum">
    	<restriction base="string">
    		<enumeration value="ELECTRICITY"></enumeration>
    		<enumeration value="GAS"></enumeration>
    		<enumeration value="HEAT"></enumeration>
    	</restriction>
    </simpleType>

    <complexType name="ControlSpaceRevoke">
    	<complexContent>
    		<extension base="tns:EfiMessage"></extension>
    	</complexContent>
    </complexType>
    
    <complexType name="AllocationRevoke">
    	<complexContent>
    		<extension base="tns:EfiMessage"></extension>
    	</complexContent>
    </complexType>

    <complexType name="Commodity">
    	<sequence>
    		<element name="UnitOfEnergy" type="string">
    			<annotation>
    				<documentation>This is the unit of energy for this commodity.</documentation>
    			</annotation>
    		</element>
    		<element name="UnitOfPower" type="string"></element>
    		<element name="UnitOfPotential" type="string" maxOccurs="1"
    			minOccurs="0">
    		</element>
    		<element name="UnitOfFlow" type="string" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="Gas">
    	<complexContent>
    		<extension base="tns:Commodity"></extension>
    	</complexContent>
    </complexType>
    
    <complexType name="Electricity">
    	<complexContent>
    		<extension base="tns:Commodity"></extension>
    	</complexContent>
    </complexType>

    <complexType name="Heat">
    	<complexContent>
    		<extension base="tns:Commodity"></extension>
    	</complexContent>
    </complexType>

    <complexType name="ProfileElement">
    	<sequence>
    		<element name="duration" type="duration"></element>
    		<element name="powerValue" type="tns:ValueWithProbability"></element>
    		<element name="flowValue" type="tns:ValueWithProbability" maxOccurs="1"
    			minOccurs="0">
    		</element>
    		<element name="potentialValue" type="tns:ValueWithProbability" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="Profile">
    	<sequence>
    		<element name="element" type="tns:ProfileElement" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="GasProfile">
        <annotation>
        	<documentation>This profile can only be used for gas values.</documentation>
        </annotation>
        <complexContent>
    		<extension base="tns:Profile">
    		</extension>
    	</complexContent>
    </complexType>

    <element name="NewElement" type="tns:InflexibleRegistration"></element>

    <complexType name="HeatProfile">
    	<complexContent>
    		<extension base="tns:Profile"></extension>
    	</complexContent>
    </complexType>
    
    <complexType name="ElectricityProfile">
    	<complexContent>
    		<extension base="tns:Profile"></extension>
    	</complexContent>
    </complexType>

    <complexType name="ProfileContainer">
    	<sequence>
    		<element name="electricityProfile"
    			type="tns:ElectricityProfile" maxOccurs="1" minOccurs="0">
    		</element>
    		<element name="heatProfile" type="tns:HeatProfile" maxOccurs="1" minOccurs="0"></element>
    		<element name="gasProfile" type="tns:GasProfile" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="ValueWithProbability">
    	<sequence>
    		<element name="value" type="tns:MeasureType" maxOccurs="1" minOccurs="1"></element>
    		<element name="probabilityInfo" type="tns:ProbabilityInfo" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="ProbabilityInfo">
    	<sequence>
    		<element name="the95PPRLowerBound" type="double"></element>
    		<element name="the68PPRLowerBound" type="double"></element>
    		<element name="the68PPRUpperBound" type="double"></element>
    		<element name="the95PPRUpperBound" type="double"></element>
    	</sequence>
    </complexType>

    <complexType name="InflexibleRegistration">
    	<complexContent>
    		<extension base="tns:ControlSpaceRegistration">
    			<sequence>
    				<element name="supportedCommodities" type="tns:SupportedCommodities"></element>
    				<element name="curtailmentOptions" type="tns:CurtailmentOptions" maxOccurs="1" minOccurs="0"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>


    <complexType name="SupportedCommodities">
    	<sequence>
    		<element name="commodityType" type="tns:CommodityEnum" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="CurtailmentOptions">
    	<sequence>
    		<element name="commodityType" type="tns:CommodityEnum"></element>
    		<element name="curtailmentLevels" type="tns:CurtailmentLevels"></element>
    	</sequence>
    </complexType>

    <complexType name="CurtailmentLevels">
    	<sequence>
    		<element name="curtailmentRange" type="tns:CurtailmentRange" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <complexType name="CurtailmentRange">
    	<sequence>
    		<element name="lowerBound" type="double"></element>
    		<element name="upperBound" type="double"></element>
    	</sequence>
    </complexType>

    <complexType name="InflexibleUpdate">
    	<complexContent>
    		<extension base="tns:ControlSpaceUpdate"></extension>
    	</complexContent>
    </complexType>


    <complexType name="InflexibleMeasurement">
    	<complexContent>
    		<extension base="tns:InflexibleUpdate">
    		<sequence>
    		<element name="measurement" type="tns:MeasureType"></element>
    		<element name="commodityType" type="tns:CommodityEnum"></element>
    		<element name="commodityUnit" type="tns:FlowUnitType"></element>
    	</sequence>
    		</extension>
    	</complexContent>
    </complexType>

	<complexType name="MeasureType">
	  <simpleContent>
	    <extension base="double">
	      <attribute name="multiplier" type="tns:MultiplierType"/>
	    </extension>
	  </simpleContent>
	</complexType>

    <complexType name="InflexibleForecast">
    	<complexContent>
    		<extension base="tns:InflexibleUpdate">
    			<sequence>
    			<element name="forecast" type="tns:ProfileContainer"></element>
    			
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="InflexibleAllocation">
    	<complexContent>
    		<extension base="tns:Allocation">
    			<sequence>
    				<element name="startTime" type="dateTime"></element>
    				<element name="curtailProfiles" type="tns:ProfileContainer"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="TimeShiftableRegistration">
    	<complexContent>
    		<extension base="tns:ControlSpaceRegistration">
    			<sequence>
    				<element name="supportedCommodities" type="tns:SupportedCommodities"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="TimeShiftableUpdate">
    	<complexContent>
    		<extension base="tns:ControlSpaceUpdate">
    		<sequence>
    			<element name="sequentialProfiles" type="tns:SequentialProfile" maxOccurs="unbounded" minOccurs="1"></element>
    		</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="SequentialProfile">
    	<sequence>
    		<element name="profileId" type="int"></element>
    		<element name="maxIntervalBefore" type="int"></element>
    		<element name="commodityProfile" type="tns:Profile" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="TimeShiftableAllocation">
    	<complexContent>
    		<extension base="tns:Allocation">
    			<sequence>
    				<element name="allocations" type="tns:SequentialProfileAllocation" maxOccurs="unbounded" minOccurs="1"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="StorageRegistration">
    	<complexContent>
    		<extension base="tns:ControlSpaceRegistration">
    			<sequence>
    				<element name="fillLevelLabel" type="string" maxOccurs="1" minOccurs="1"></element>
    				<element name="fillLevelUnit" type="string" maxOccurs="1" minOccurs="1"></element>
    				<element name="actuators" type="tns:Actuator" maxOccurs="unbounded" minOccurs="0"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="Actuator">
    	<sequence>
    		<element name="actuatorId" type="int" maxOccurs="1" minOccurs="1"></element>
    		<element name="actuatorLabel" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="supportedCommodities" type="tns:SupportedCommodities" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="Timer">
    	<sequence>
    		<element name="timerId" type="int" maxOccurs="1" minOccurs="1"></element>
    		<element name="timerLabel" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="duration" type="duration" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="Transition">
    	<sequence>
    		<element name="toRunningMode" type="int" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="startTimerId" type="int" maxOccurs="unbounded"
    			minOccurs="0">
    		</element>
    		<element name="blockingTimerId" type="int" maxOccurs="unbounded"
    			minOccurs="0">
    		</element>
    		<element name="transitionTime" type="duration"
    			maxOccurs="1" minOccurs="0">
    		</element>
    		<element name="transitionCostsInEuro" type="tns:Price"></element>
    	</sequence>
    </complexType>

	<complexType name="Price">
	  <simpleContent>
	    <extension base="decimal">
	      <attribute name="currency" type="tns:CurrencyType"/>
	    </extension>
	  </simpleContent>
	</complexType>

	<simpleType name="CurrencyType">
	  <restriction base="string">
	    <enumeration value="pounds"/>
	    <enumeration value="euros"/>
	    <enumeration value="dollars"/>
	  </restriction>
	</simpleType>

	<simpleType name="PowerUnitType">
	  <restriction base="string">
	    <enumeration value="Watt"/>
	  </restriction>
	</simpleType>

	<simpleType name="PotentialUnitType">
	  <restriction base="string">
	    <enumeration value="ToBeDone"/>
	  </restriction>
	</simpleType>

	<simpleType name="FlowUnitType">
	  <restriction base="string">
	    <enumeration value="ToBeDone"/>
	  </restriction>
	</simpleType>

	<simpleType name="MultiplierType">
	  <restriction base="string">
	  	<enumeration value="micro"/>
	    <enumeration value="milli"/>
	    <enumeration value="none"/>
	    <enumeration value="kilo"/>
	    <enumeration value="mega"/>
	  </restriction>
	</simpleType>

	<complexType name="RangeElement">
		<sequence>
			<element name="lowerBound" type="double" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="upperBound" type="double" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="fillingRate" type="double" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="runningCosts" type="tns:Price" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="RunningMode">
		<sequence>
			<element name="runningModeId" type="int" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="runningModeName" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="runningModeBehaviour" type="tns:RunningModeElement" maxOccurs="1" minOccurs="1"></element>
			<element name="possibleTransition" type="tns:Transition" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="RunningModeElement">
		<sequence>
			<element name="rangeElement" type="tns:RangeElement" maxOccurs="1" minOccurs="1"></element>
			<element name="electricityConsumption" type="tns:MeasureType" maxOccurs="1" minOccurs="0"></element>
			<element name="gasConsumption" type="tns:MeasureType" maxOccurs="1" minOccurs="0"></element>
			<element name="heatConsumption" type="tns:MeasureType" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="ActuatorBehaviour">
		<sequence>
			<element name="actuatorId" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="runningModes" type="tns:RunningMode"
				maxOccurs="unbounded" minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="LeakageFunction">
		<sequence>
			<element name="rangeElement" type="tns:RangeElement" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="StorageSystemDescription">
		<complexContent>
			<extension base="tns:StorageUpdate">
				<sequence>
					<element name="actuators" type="tns:ActuatorBehaviour" maxOccurs="unbounded" minOccurs="0"></element>
					<element name="leakageBehaviour" type="tns:LeakageFunction" maxOccurs="1" minOccurs="0"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="StorageUpdate">
    	<complexContent>
    		<extension base="tns:ControlSpaceUpdate"></extension>
    	</complexContent>
    </complexType>

	<complexType name="TimerUpdate">
		<sequence>
			<element name="timeId" type="string" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="finishedAt" type="dateTime" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="ActuatorUpdate">
		<sequence>
			<element name="actuatorId" type="int" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="currentRunningMode" type="int" maxOccurs="1" minOccurs="1"></element>
			<element name="timersUpdate" type="tns:TimerUpdate" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="StorageStateUpdate">
		<complexContent>
			<extension base="tns:StorageUpdate">
				<sequence>
					<element name="currentFillLevel" type="double"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="actuatorsUpdate" type="tns:ActuatorUpdate" maxOccurs="unbounded" minOccurs="0"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="TargetProfileElement">
		<sequence>
			<element name="duration" type="duration" maxOccurs="1" minOccurs="1"></element>
			<element name="fillLevelLowerBound" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="fillLevelUpperBound" type="double" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="TargetProfile">
		<sequence>
			<element name="startTime" type="dateTime"></element>
			<element name="targetProfileElement" type="tns:TargetProfileElement" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>


	<complexType name="StorageTargetStateUpdate">
		<complexContent>
			<extension base="tns:StorageUpdate">
				<sequence>
					<element name="targetProfile" type="tns:TargetProfile"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="StorageForecastElement">
		<sequence>
			<element name="duration" type="duration" maxOccurs="1" minOccurs="1"></element>
			<element name="deltaFillLevelWithProbabiltiy"
				type="tns:ValueWithProbability" maxOccurs="1" minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="StorageUsageForecast">
		<complexContent>
			<extension base="tns:StorageUpdate">
				<sequence>
					<element name="unit" type="string" maxOccurs="1"
						minOccurs="1">
					</element>
					<element name="storageUsageForecastElements" type="tns:StorageForecastElement" maxOccurs="unbounded" minOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="StorageAllocation">
		<complexContent>
			<extension base="tns:Allocation">
				<sequence>
					<element name="actuatorAllocation" type="tns:ActuatorAllocation" maxOccurs="unbounded" minOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ActuatorAllocation">
		<sequence>
			<element name="actuatorId" type="int" maxOccurs="1" minOccurs="1"></element>
			<element name="runningModeId" type="int" maxOccurs="1" minOccurs="1"></element>
			<element name="startTime" type="dateTime" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="OutputAdjustableRegistration">
		<complexContent>
			<extension base="tns:ControlSpaceRegistration">
				<sequence>
    				<element name="supportedCommodities" type="tns:SupportedCommodities" maxOccurs="1" minOccurs="1"></element>
    			</sequence>
    			</extension>
		</complexContent>
	</complexType>

	<complexType name="OutputAdjustableSystemDescription">
		<complexContent>
			<extension base="tns:InflexibleUpdate">
				<sequence>
					<element name="runningModes" type="tns:RunningMode" maxOccurs="unbounded" minOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="OutputAdjustableUpdate">
    	<complexContent>
    		<extension base="tns:ControlSpaceUpdate"></extension>
    	</complexContent>
    </complexType>

	<complexType name="OutputAdjustableStateUpdate">
		<complexContent>
			<extension base="tns:OutputAdjustableUpdate">
				<sequence>
					<element name="currentRunningModeId" type="int"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="timerUpdates" type="tns:TimerUpdate" maxOccurs="unbounded" minOccurs="0"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="OutputAdjustableAllocation">
		<complexContent>
			<extension base="tns:Allocation">
				<sequence>
					<element name="runningModeSelectors" type="tns:RunningModeSelector" maxOccurs="unbounded" minOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RunningModeSelector">
		<sequence>
			<element name="runningModeId" type="int" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="startTime" type="dateTime" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="SequentialProfileAllocation">
		<sequence>
			<element name="sequentialProfileId" type="int" maxOccurs="1" minOccurs="1"></element>
			<element name="startTime" type="dateTime" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>
</schema>