flexiblepower.efi.xml/src/flexiblepower/efi/xml/efi.xsd

<?xml version="1.1" encoding="UTF-8"?>
<schema targetNamespace="http://www.flexiblepower.org/efi" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:efi="http://www.flexiblepower.org/efi" elementFormDefault="qualified" attributeFormDefault="qualified">

    <complexType name="EfiMessage">
    	<sequence>
    		<element name="messageId" type="ID" maxOccurs="1" minOccurs="1"></element>
    		<element name="deviceId" type="ID" maxOccurs="1" minOccurs="1"></element>
    		<element name="timestamp" type="dateTime" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="ControlSpaceRegistration">
    	<complexContent>
    		<extension base="efi:EfiMessage">
    			<sequence>
    				<element name="allocationDelay" type="duration" maxOccurs="1" minOccurs="1"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="ControlSpaceUpdate">
    	<complexContent>
    		<extension base="efi:EfiMessage">
    			<sequence>
    				<element name="validFrom" type="dateTime"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="Allocation">
    	<complexContent>
    		<extension base="efi:EfiMessage">
    			<sequence>
    				<element name="controlSpaceUpdateId"
    					type="ID">
    				</element>
    				<element name="isEmergencyAllocation" type="boolean"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="AllocationStatusUpdate">
    	<complexContent>
    		<extension base="efi:EfiMessage">
    			<sequence>
    				<element name="allocationId" type="ID"></element>
                    <element name="status" type="efi:AllocationStatus"></element>
                    <element name="additionalInfo" type="string"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <simpleType name="AllocationStatus">
    	<restriction base="string">
    		<enumeration value="ACCEPTED"></enumeration>
    		<enumeration value="REJECTED"></enumeration>
    		<enumeration value="PROCESSING"></enumeration>
    		<enumeration value="STARTED"></enumeration>
    		<enumeration value="FINISHED"></enumeration>
    	</restriction>
    </simpleType>

    <complexType name="ControlSpaceRevoke">
    	<complexContent>
    		<extension base="efi:EfiMessage"></extension>
    	</complexContent>
    </complexType>
    
    <complexType name="AllocationRevoke">
    	<complexContent>
    		<extension base="efi:EfiMessage"></extension>
    	</complexContent>
    </complexType>

     <simpleType name="CommodityEnum">
    	<restriction base="string">
    		<enumeration value="ELECTRICITY"></enumeration>
    		<enumeration value="GAS"></enumeration>
    		<enumeration value="HEAT"></enumeration>
    	</restriction>
    </simpleType>

    <complexType name="Commodity" abstract="true">
    	<sequence>
    		<element name="unitOfEnergy" type="string">
    			<annotation>
    				<documentation>This is the unit of energy for this commodity.</documentation>
    			</annotation>
    		</element>
    		<element name="unitOfPower" type="string"></element>
    		<element name="unitOfPotential" type="string"></element>
    		<element name="unitOfFlow" type="string"></element>
    	</sequence>
    </complexType>
    
    <complexType name="Electricity">
    	<complexContent>
    		<restriction base="efi:Commodity">
				<sequence>
					<element name="unitOfEnergy" type="string" fixed="WattHour" minOccurs="1" maxOccurs="1"></element>
					<element name="unitOfPower" type="string" fixed="Watt" minOccurs="1" maxOccurs="1"></element>
					<element name="unitOfPotential" type="string" fixed="Volt" minOccurs="1" maxOccurs="1"></element>
					<element name="unitOfFlow" type="string" fixed="Ampere" minOccurs="1" maxOccurs="1"></element>
				</sequence>
    		</restriction>
    	</complexContent>
    </complexType>

    <complexType name="Heat">
    	<complexContent>
    		<restriction base="efi:Commodity">
				<sequence>
					<element name="unitOfEnergy" type="string" fixed="Joule" minOccurs="1" maxOccurs="1"></element>
					<element name="unitOfPower" type="string" fixed="Watt" minOccurs="1" maxOccurs="1"></element>
					<element name="unitOfPotential" type="string" fixed="Temperature" minOccurs="1" maxOccurs="1"></element>
					<element name="unitOfFlow" type="string" fixed="CubicMetersPerSecond" minOccurs="1" maxOccurs="1"></element>
				</sequence>
    		</restriction>
    	</complexContent>
    </complexType>

    <complexType name="Gas">
    	<complexContent>
    		<restriction base="efi:Commodity">
				<sequence>
					<element name="unitOfEnergy" type="string" fixed="Joule" minOccurs="1" maxOccurs="1"></element>
					<element name="unitOfPower" type="string" fixed="Watt" minOccurs="1" maxOccurs="1"></element>
					<element name="unitOfPotential" type="string" fixed="Pressure" minOccurs="1" maxOccurs="1"></element>
					<element name="unitOfFlow" type="string" fixed="CubicMetersPerSecond" minOccurs="1" maxOccurs="1"></element>
				</sequence>
    		</restriction>
    	</complexContent>
    </complexType>

    <complexType name="ProfileElement">
    	<sequence>
    		<element name="duration" type="duration"></element>
    		<element name="powerValue" type="efi:ValueWithProbability" minOccurs="1" maxOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <complexType name="ProfileElements">
    	<sequence>
			<element name="element" type="efi:ProfileElement" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="Profile" abstract="true">
    	<sequence>
    		<element name="unit" type="string"></element>
    		<element name="profileElements" type="efi:ProfileElements" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="ElectricityProfile">
    	<complexContent>
    		<restriction base="efi:Profile">
				<sequence>
					<element name="unit" type="string" fixed="Watt"></element>
					<element name="profileElements" type="efi:ProfileElements" maxOccurs="1" minOccurs="1"></element>
				</sequence>
    		</restriction>
    	</complexContent>
    </complexType>

    <complexType name="HeatProfile">
    	<complexContent>
    		<restriction base="efi:Profile">
				<sequence>
					<element name="unit" type="string" fixed="Watt"></element>
					<element name="profileElements" type="efi:ProfileElements" maxOccurs="1" minOccurs="1"></element>
				</sequence>
    		</restriction>
    	</complexContent>
    </complexType>

    <complexType name="GasProfile">
        <annotation>
        	<documentation>This profile can only be used for gas values.</documentation>
        </annotation>
        <complexContent>
    		<restriction base="efi:Profile">
				<sequence>
					<element name="unit" type="string" fixed="Watt"></element>
					<element name="profileElements" type="efi:ProfileElements" maxOccurs="1" minOccurs="1"></element>
				</sequence>
    		</restriction>
    	</complexContent>
    </complexType>
    
    <complexType name="ValueWithProbability">
    	<sequence>
    		<element name="value" type="efi:MeasureType" maxOccurs="1" minOccurs="1"></element>
    		<element name="probabilityInfo" type="efi:ProbabilityInfo" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="ProbabilityInfo">
    	<sequence>
    		<element name="the95PPRLowerBound" type="double"></element>
    		<element name="the68PPRLowerBound" type="double"></element>
    		<element name="the68PPRUpperBound" type="double"></element>
    		<element name="the95PPRUpperBound" type="double"></element>
    	</sequence>
    </complexType>

    <complexType name="InflexibleRegistration">
    	<complexContent>
    		<extension base="efi:ControlSpaceRegistration">
    			<sequence>
    				<element name="supportedCommodities" type="efi:SupportedCommodities"></element>
    				<element name="curtailmentOptions" type="efi:CurtailmentOptions" maxOccurs="1" minOccurs="0"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>


    <complexType name="SupportedCommodities">
    	<sequence>
    		<element name="commodityType" type="efi:CommodityEnum" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="CurtailmentOptions">
    	<sequence>
    		<element name="commodityType" type="efi:CommodityEnum"></element>
    		<element name="curtailmentLevels" type="efi:CurtailmentLevels"></element>
    	</sequence>
    </complexType>

    <complexType name="CurtailmentLevels">
    	<sequence>
    		<element name="curtailmentRange" type="efi:CurtailmentRange" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    </complexType>
    
    <complexType name="CurtailmentRange">
    	<sequence>
    		<element name="lowerBound" type="double"></element>
    		<element name="upperBound" type="double"></element>
    	</sequence>
    </complexType>

    <complexType name="InflexibleUpdate">
    	<complexContent>
    		<extension base="efi:ControlSpaceUpdate"></extension>
    	</complexContent>
    </complexType>

    <complexType name="InflexibleMeasurement">
    	<complexContent>
    		<extension base="efi:InflexibleUpdate">
    		<sequence>
    		<element name="measurement" type="efi:MeasureType"></element>
    		<element name="commodityType" type="efi:CommodityEnum"></element>
    		<element name="commodityUnit" type="efi:FlowUnitType"></element>
    	</sequence>
    		</extension>
    	</complexContent>
    </complexType>

	<complexType name="MeasureType">
	  <simpleContent>
	    <extension base="double">
	      <attribute name="multiplier" type="efi:MultiplierType"/>
	    </extension>
	  </simpleContent>
	</complexType>

    <complexType name="ProfileContainer">
    	<sequence>
    		<element name="electricityProfile"
    			type="efi:ElectricityProfile" maxOccurs="1" minOccurs="0">
    		</element>
    		<element name="heatProfile" type="efi:HeatProfile" maxOccurs="1" minOccurs="0"></element>
    		<element name="gasProfile" type="efi:GasProfile" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="InflexibleForecast">
    	<complexContent>
    		<extension base="efi:InflexibleUpdate">
    			<sequence>
    			<element name="forecast" type="efi:ProfileContainer"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="CurtailmentAllocation">
    	<complexContent>
    		<extension base="efi:Allocation">
    			<sequence>
    				<element name="startTime" type="dateTime"></element>
    				<element name="curtailProfiles" type="efi:ProfileContainer"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="TimeShiftableRegistration">
    	<complexContent>
    		<extension base="efi:ControlSpaceRegistration">
    			<sequence>
    				<element name="supportedCommodities" type="efi:SupportedCommodities"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="TimeShiftableUpdate">
    	<complexContent>
    		<extension base="efi:ControlSpaceUpdate">
    		<sequence>
    			<element name="sequentialProfiles" type="efi:SequentialProfile" maxOccurs="unbounded" minOccurs="1"></element>
    		</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="SequentialProfile">
    	<sequence>
    		<element name="profileId" type="int"></element>
    		<element name="maxIntervalBefore" type="int"></element>
    		<element name="commodityProfile" type="efi:Profile" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="TimeShiftableAllocation">
    	<complexContent>
    		<extension base="efi:Allocation">
    			<sequence>
    				<element name="allocations" type="efi:SequentialProfileAllocation" maxOccurs="unbounded" minOccurs="1"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="StorageRegistration">
    	<complexContent>
    		<extension base="efi:ControlSpaceRegistration">
    			<sequence>
    				<element name="fillLevelLabel" type="string" maxOccurs="1" minOccurs="1"></element>
    				<element name="fillLevelUnit" type="string" maxOccurs="1" minOccurs="1"></element>
    				<element name="actuators" type="efi:Actuator" maxOccurs="unbounded" minOccurs="0"></element>
    			</sequence>
    		</extension>
    	</complexContent>
    </complexType>

    <complexType name="Actuator">
    	<sequence>
    		<element name="actuatorId" type="int" maxOccurs="1" minOccurs="1"></element>
    		<element name="actuatorLabel" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="supportedCommodities" type="efi:SupportedCommodities" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="Timer">
    	<sequence>
    		<element name="timerId" type="int" maxOccurs="1" minOccurs="1"></element>
    		<element name="timerLabel" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="duration" type="duration" maxOccurs="1" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="Transition">
    	<sequence>
    		<element name="toRunningMode" type="int" maxOccurs="1"
    			minOccurs="1">
    		</element>
    		<element name="startTimerId" type="int" maxOccurs="unbounded"
    			minOccurs="0">
    		</element>
    		<element name="blockingTimerId" type="int" maxOccurs="unbounded"
    			minOccurs="0">
    		</element>
    		<element name="transitionTime" type="duration"
    			maxOccurs="1" minOccurs="0">
    		</element>
    		<element name="transitionCosts" type="efi:Price"></element>
    	</sequence>
    </complexType>

	<complexType name="Price">
	  <simpleContent>
	    <extension base="decimal">
	      <attribute name="currency" type="efi:CurrencyType"/>
	    </extension>
	  </simpleContent>
	</complexType>

	<simpleType name="CurrencyType">
	  <restriction base="string">
	    <enumeration value="pound"/>
	    <enumeration value="euro"/>
	    <enumeration value="dollar"/>
	  </restriction>
	</simpleType>

	<simpleType name="PowerUnitType">
	  <restriction base="string">
	    <enumeration value="Watt"/>
	  </restriction>
	</simpleType>

	<simpleType name="PotentialUnitType">
	  <restriction base="string">
	    <enumeration value="ToBeDone"/>
	  </restriction>
	</simpleType>

	<simpleType name="FlowUnitType">
	  <restriction base="string">
	    <enumeration value="ToBeDone"/>
	  </restriction>
	</simpleType>

	<simpleType name="MultiplierType">
	  <restriction base="string">
	  	<enumeration value="micro"/>
	    <enumeration value="milli"/>
	    <enumeration value="none"/>
	    <enumeration value="kilo"/>
	    <enumeration value="mega"/>
	  </restriction>
	</simpleType>

	<complexType name="RangeElement">
		<sequence>
			<element name="lowerBound" type="double" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="upperBound" type="double" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="fillingRate" type="double" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="runningCosts" type="efi:Price" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="RunningMode">
		<sequence>
			<element name="runningModeId" type="int" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="runningModeName" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="runningModeBehaviour" type="efi:RunningModeBehaviourType" maxOccurs="1" minOccurs="1"></element>
			<element name="possibleTransition" type="efi:Transition" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="ActuatorBehaviour">
		<sequence>
			<element name="actuatorId" type="string" maxOccurs="1" minOccurs="1"></element>
			<element name="runningModes" type="efi:RunningMode"
				maxOccurs="unbounded" minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="LeakageFunction">
		<sequence>
			<element name="rangeElement" type="efi:RangeElement" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="StorageSystemDescription">
		<complexContent>
			<extension base="efi:StorageUpdate">
				<sequence>
					<element name="actuators" type="efi:ActuatorBehaviour" maxOccurs="unbounded" minOccurs="0"></element>
					<element name="leakageBehaviour" type="efi:LeakageFunction" maxOccurs="1" minOccurs="0"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="StorageUpdate">
    	<complexContent>
    		<extension base="efi:ControlSpaceUpdate"></extension>
    	</complexContent>
    </complexType>

	<complexType name="TimerUpdate">
		<sequence>
			<element name="timeId" type="string" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="finishedAt" type="dateTime" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="ActuatorUpdate">
		<sequence>
			<element name="actuatorId" type="int" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="currentRunningMode" type="int" maxOccurs="1" minOccurs="1"></element>
			<element name="timersUpdate" type="efi:TimerUpdate" maxOccurs="unbounded" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="StorageStateUpdate">
		<complexContent>
			<extension base="efi:StorageUpdate">
				<sequence>
					<element name="currentFillLevel" type="double"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="actuatorsUpdate" type="efi:ActuatorUpdate" maxOccurs="unbounded" minOccurs="0"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="TargetProfileElement">
		<sequence>
			<element name="duration" type="duration" maxOccurs="1" minOccurs="1"></element>
			<element name="fillLevelLowerBound" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="fillLevelUpperBound" type="double" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="TargetProfile">
		<sequence>
			<element name="startTime" type="dateTime"></element>
			<element name="targetProfileElement" type="efi:TargetProfileElement" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>


	<complexType name="StorageTargetStateUpdate">
		<complexContent>
			<extension base="efi:StorageUpdate">
				<sequence>
					<element name="targetProfile" type="efi:TargetProfile"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="StorageForecastElement">
		<sequence>
			<element name="duration" type="duration" maxOccurs="1" minOccurs="1"></element>
			<element name="deltaFillLevelWithProbabiltiy"
				type="efi:ValueWithProbability" maxOccurs="1" minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="StorageUsageForecast">
		<complexContent>
			<extension base="efi:StorageUpdate">
				<sequence>
					<element name="unit" type="string" maxOccurs="1"
						minOccurs="1">
					</element>
					<element name="storageUsageForecastElements" type="efi:StorageForecastElement" maxOccurs="unbounded" minOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="StorageAllocation">
		<complexContent>
			<extension base="efi:Allocation">
				<sequence>
					<element name="actuatorAllocation" type="efi:ActuatorAllocation" maxOccurs="unbounded" minOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ActuatorAllocation">
		<sequence>
			<element name="actuatorId" type="int" maxOccurs="1" minOccurs="1"></element>
			<element name="runningModeId" type="int" maxOccurs="1" minOccurs="1"></element>
			<element name="startTime" type="dateTime" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="OutputAdjustableRegistration">
		<complexContent>
			<extension base="efi:ControlSpaceRegistration">
				<sequence>
    				<element name="supportedCommodities" type="efi:SupportedCommodities" maxOccurs="1" minOccurs="1"></element>
    			</sequence>
    			</extension>
		</complexContent>
	</complexType>

	<complexType name="OutputAdjustableSystemDescription">
		<complexContent>
			<extension base="efi:InflexibleUpdate">
				<sequence>
					<element name="runningModes" type="efi:RunningMode" maxOccurs="unbounded" minOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="OutputAdjustableUpdate">
    	<complexContent>
    		<extension base="efi:ControlSpaceUpdate"></extension>
    	</complexContent>
    </complexType>

	<complexType name="OutputAdjustableStateUpdate">
		<complexContent>
			<extension base="efi:OutputAdjustableUpdate">
				<sequence>
					<element name="currentRunningModeId" type="int"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="timerUpdates" type="efi:TimerUpdate" maxOccurs="unbounded" minOccurs="0"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="OutputAdjustableAllocation">
		<complexContent>
			<extension base="efi:Allocation">
				<sequence>
					<element name="runningModeSelectors" type="efi:RunningModeSelector" maxOccurs="unbounded" minOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RunningModeSelector">
		<sequence>
			<element name="runningModeId" type="int" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="startTime" type="dateTime" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="SequentialProfileAllocation">
		<sequence>
			<element name="sequentialProfileId" type="int" maxOccurs="1" minOccurs="1"></element>
			<element name="startTime" type="dateTime" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="RunningModeElement">
		<complexContent>
			<extension base="efi:RangeElement">
				<sequence>
					<element name="electricityConsumption" type="efi:MeasureType" maxOccurs="1" minOccurs="0"></element>
					<element name="gasConsumption" type="efi:MeasureType" maxOccurs="1" minOccurs="0"></element>
					<element name="heatConsumption" type="efi:MeasureType" maxOccurs="1" minOccurs="0"></element>
			</sequence>
		</extension>
		</complexContent>
	</complexType>

	<complexType name="RunningModeBehaviourType">
		<sequence>
			<element name="runningModeElement" type="efi:RunningModeElement" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>
	
	<complexType name="EfiMessageChoice">
		<choice minOccurs="1" maxOccurs="1">
			<element name="inFlexibleRegistration" type="efi:InflexibleRegistration"/>
			<element name="inFlexibileUpdate" type="efi:InflexibleUpdate"/>
			<element name="curtailmentAllocation" type="efi:CurtailmentAllocation"/>
		</choice>
	</complexType>
	
	<element name="efiMessage" type="efi:EfiMessageChoice"></element>
	
</schema>